@import './base.scss';

.button {
  border: $button-border;
  border-radius: $button-border-radius;
  width: $button-width;
  height: $button-height;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}