@import '../../styles/base.scss';

.field {
  border: $field-border;
  border-radius: $border-radius-1;
  padding: 0 1rem;
  width: $field-width;
  height: $field-height;
  font-size: 1rem;
  color: $color-neutral-darkest;
  line-height: $field-height;

  &::placeholder {
    color: $color-neutral-darkest;
  }

  &[readonly] {
    cursor: pointer;
  }

  &:focus {
    border-color: $field-border-focus;
  }
}